<mat-grid-list cols="1" rowHeight="500px" class="grid">
    <mat-grid-tile>
      <div class="contact">
        <h2 >Kapcsolattartó neve:</h2>
        <p><mat-icon>face</mat-icon> Túri Viktória - Projekt készítője</p>
        <p><mat-icon>face</mat-icon> Tele-Fon Elizabet</p>
        <p><mat-icon>face</mat-icon> Komm-Uni Katalin</p>
        <h2> Telefonszám:</h2>
        <p> <mat-icon> call</mat-icon> +36 30 123 4567</p>
        <p> <mat-icon> call</mat-icon> +36 30 765 4321</p> 
        <h2> Email</h2>
        <p> <mat-icon> email</mat-icon> turiviktoria2002@gmail.com</p> 
        <h2> Keress bátran, akár Facebookon is! <mat-icon> mood</mat-icon></h2>
       
      </div>
    
    </mat-grid-tile>
  </mat-grid-list>