<mat-grid-list cols="1" rowHeight="500px" class="grid">
    <mat-grid-tile>
      <div class="contact">
        <h2 >Ajánlatunk:</h2>
        <p><mat-icon>payments</mat-icon> Feltöltött egyenlegedből többféle net bővítő típus közül választhatsz, melyek illeszkednek hozzád és egymással szabadon kombinálhatók, akár egyszerre is. </p>
        <p><mat-icon>savings</mat-icon> Eseti ingyenes netbővítőket is aktiválhatsz. </p>
        <p><mat-icon>warning</mat-icon> Fontos! A net bővítők aktiválása után a megfelelő működés érdekében javasoljuk, hogy kapcsold be és ki a repülőgép üzemmódot, vagy indítsd újra a készüléket.
        </p>
        <h2>További információért keresd ügyfélszolgálatunkat:</h2>
        <p> <mat-icon> call</mat-icon> +36 30 123 4567</p>
        <p> <mat-icon> call</mat-icon> +36 30 765 4321</p> 

      </div>
    
    </mat-grid-tile>
  </mat-grid-list>